<h1>goodfoodhunting</h1>

<a href="/new_dish">post new dish</a>


<section class="grid">
  <% @dishes.each do |dish| %>
    <div>
      <a href="/details?id=<%= dish["id"] %>">
        <img src="<%= dish["image_url"] %>" alt="">
      </a>
      <h2><%= dish["name"] %></h2>
    </div>
  <% end %>
</section>



